body {
}
/*#cuerpoprincipal {
height:600px;
}*/
.divContenedorInscripcion {
    /*background-color:rgba(232, 221, 221, 0.66);*/
    width: 100%;
    height: 100%;
  
    display: inline-block;
     /*background-image: url('../ImgSistema/ceficc (1273 x 1487).jpg')   ;*/
     /*background-size:contain;*/

     
}


.tituloInscripcion {
    margin-top:10px;
margin-left:0;
margin-right:0;
font-size:1.2rem;
color:blue;
text-decoration:underline;
text-decoration-color:#000;
}

.divInscripcionFormulario {
    margin-left:10px;
width: 40%;
background-color:rgb(255, 255, 255);
box-shadow: 0px 0px 10px #000 inset;
border-radius: 10px 10px 10px 10px;
float:left;
display:inline-block;
}
.divIncritosDerecha {
    width: 58%;
    /*float:left;*/
    display:inline-block;
    background-color:white;
}
.TablaInscripcion {
    border-spacing: 0 !important;
  border-collapse: collapse !important;
width:95%;
border:none;
padding:0;

}
.TablaInscripcion td.celda_sin {
  padding: 0;
}

.TablaInscripcion td:first-child {
    text-align:left;
    width:30%;
}
.TablaInscripcion td:nth-child(2){
    text-align:left;
     width:40%;
}
.TablaInscripcion td:nth-child(3){
    text-align:left;
}
.configControl{
    width:98%;
    height:23px;
}
.PanelInscripcion {
    width:100%;
    }
.cssGreidviewInscripsion {
    width:auto;
    font-size:1rem;
    background-color:white;
    }

.mensajeEstudiante {
    margin-top:70px;
margin-right:8%;
width:30%;
background-color:greenyellow;
padding:20px;/*el padin es la separacion en lso bordes*/
font-size:1.5rem;
transform: rotate( -15deg );
}
.mensajeEstudiante p {
    color:red;
    }

