@charset "utf-8";
#slider_container_1 { 
/*float: left;*/
 padding: 1px; 
 width: 100%; 
 background: #fff; 
 -moz-border-radius: 
 2px 2px; 
 -webkit-border-radius: 
 2px 2px; 
 border-radius: 2px 2px; 
 }
#SliderName{
	width: 100%;
	height: 400px;
	margin: auto;
	 background: #fff; 
}

.SliderNamePrev{
	background: url(../img/left.gif) no-repeat center center;
	width: 24px;
	height: 24px;
	display: block;
	position: absolute;
	top: 138px;
	left: 10px;
	text-decoration: none;
}
.SliderNameNext{
	background: url(../img/right.gif) no-repeat center center;
	width: 24px;
	height: 24px;
	display: block;
	position: absolute;
	top: 138px;
	right: 10px;
	text-decoration: none;
	
}
.SliderNameDescription1{
	font-family: Verdana;
	font-size: 10px;
	text-align: left;
	padding: 0px;
	width: 50%;
	background-color:#D46667;
	height: 25%;
	position:absolute;


}
.masterimagenoVideo{
	width: 100%;
	height: 100%;
	}
#SliderNameNavigation {

	padding-top: 8px;
	vertical-align:middle; 
	height: 10px; 
	text-align: center; 
	-moz-border-radius: 1px 1px; 
	/*background: #fff; */

 }
#SliderNameNavigation a:link, 
#SliderNameNavigation a:active, 
#SliderNameNavigation a:visited, 
#SliderNameNavigation a:hover{
	margin: 0 2px;
	background: url(../img/nav.gif) no-repeat center center;
	font-size: 0px;
	line-height: 0px;
	padding: 8px;/*tamaño de las bolitas de desplazamiento de imagenes*/
	text-decoration: none;
}

#SliderNameNavigation a.active:link, 
#SliderNameNavigation a.active:active, 
#SliderNameNavigation a.active:visited, 
#SliderNameNavigation a.active:hover{
	background: url(../img/nav_active.gif) no-repeat center center;
}
.Sliderman.slider{
	width: 100%;
	height: 100%;
	background-color:#44467F;
	}
	.contenedorTexto{
		margin-bottom:25px;
				 width: 100%;
	height: 50px;
	background-color:#B1DF74;
		
		}
	 .w3-content{
		
		 top:-15px;
		
			}
	 .strongtitulo{

color:#EBE8E8;
font-size:1.5rem;
		
		}
.introduccion{
	color:#BBB8B8;
font-size:1.5rem;
		
			}