body {
}
.divContInstitucional {
     margin-left:5%;
     margin-right:5%;
     text-align:justify;
}
#InstitucionalimagenoVideo {
width:50%;
height:300px;
}
.autorfechaNoticia {
font-size:0.5rem;
color:#d8cece;
}
.tituloInstitucional {
margin-left:5%;
}
.textoIntroInstitucional {
    padding:10px 10px 10px 10px;
}
.textoContenidoInstitucional {
padding:10px 10px 10px 10px;
}
