body {
}
/*PAGINA REGISTRO*/



.registroFormulario {

      margin:0 auto; /*centra el div*/
      width:700px;
 border-radius: 10px 10px 10px 10px;
    margin-top: 5%;

background-color:white;
border:double;
/*background-color:ActiveBorder;*/
}
.form-control{
    width: 90%;
    height: 24px;
}
.table-group {
    width: 100%;
     padding: 5px;
}
.table-group td:first-child{
    width: 40%;
    height: 24px;
    text-align: right;
/*    background-color: black;*/
}