 /*COLUMNA NOVEDADES*/
.divColumnaDerecha{
	border-top: 3px solid #919494;
	width: 100%;
	float:right;
 	padding-top: 0px;
	padding-right: 0;
	padding-left: 0;
	background-color:#F7F7F7;
/*	background-color:red;*/
	
}
 .ulColumnaDerecha {
	 font-size:0.8rem;
	width: 100%;
	list-style: none;
	margin: auto;
	padding:0;
	

}	
.ulColumnaDerecha li { 
width:auto;
float:left;
border-bottom: 1px solid #919494;
	justify-content: center; 

	flex-wrap: wrap;
	display:inline-block; /*y justify-content: center ayudan a centrar el menu*/

	
}
.ulColumnaDerecha embed {
	width: 100%;
}

.ulColumnaDerecha a {
	text-decoration:none;
}

.ColumnaDerecha_titulo{
	display:inline-block;
	text-align:center;
	box-sizing:border-box;
	width:96%;
	color:#777374;
/*  	border-radius: 15px 15px 15px 15px;
  	border: 1px solid #D3D3D3;
 */ 	background-color:#DFE8F7;
	margin:2px;
  	
	}
.ColumnaDerecha_Imagen{}

.ColumnaDerecha_Intro{
	margin:2px;
	width:96%;
	box-sizing:border-box;

	}
	
.ColumnaDerecha_Intro p{
	margin-top:1px;
	width:98%;
/*	float:left;
*/	vertical-align:central;
	top:1px;
	}
 
.divTituloColumnaDerecha {
  background-color:#a70000 !important;
  width: 100%;
	border-bottom: 1px solid #919494;
	border-top: 1px solid #D7E0E1;
   text-align:center;
  line-height:25px;/*baja o sube los elementos del menu*/
  
  
 }
 .divTituloColumnaDerecha p{
color:#B5BDF7;
padding:5px;
margin-top:-5px;
margin-bottom:0;
  align-content:flex-start;
 }
 
  /*INICIO SCREEN ENTRE 800 Y 999*/
@media screen and (min-width:801px) and (max-width: 999px)  {

}
/*SCREEN ENTRE 400 Y 779*/	
@media screen and (min-width:501px) and (max-width: 800px) {

}
/*SCREEN MOVIL 300 a 500*/
	@media screen  and (min-width: 300px) and (max-width: 500px) {

}