
/*Estilos IncludeOferta Academica*/

.divMenuIzquierdo{
	margin:0;
	padding:0;
/**/	background-color:#D3D3D3;
border-top: 3px solid #919494;
	width: 100%;
	float:left;
	padding-top: 0px;
	padding-right: 0;
	padding-left: 0;
/*	padding-bottom: 10px;
*/	
	
	}

.ulMenuIzquierdo {
	font-size:0.8rem;
	width: 100%;
	/*height:100%;*/
	list-style: none;
	padding: 1px;
	margin: auto;
	
}
.ulMenuIzquierdo li {
	width:98%;
	flex-wrap: wrap;
	border-bottom: 1px solid #919494;
/*	border-top: 1px solid #D7E0E1;*/
	border: 2px solid rgba(130,175,245,0.80);
	border-radius: 15px 15px 15px 15px;
/*	display:inline-flex; y justify-content: center ayudan a centrar el menu
justify-content: center; */
background-color:#F7F7F7;/**/
}

.ulMenuIzquierdo li:hover {
	background:rgba(130,175,245,0.80);cursor:default;
	}

	
.ulMenuIzquierdo .titulo {
	display:inline-block;
	text-align:center;
	width:98%;
	color:#0817C8;
  	border-radius: 15px 15px 15px 15px;
  	border: 1px solid #D3D3D3;
  	background-color:#DFE8F7;
	margin-bottom:5px;
  	margin-top:5px;
	}
	
	.Contenedor_img_mas_Intro{
		display:flex;
		
		}
.contenedorImagen{
	padding:1px;
/*	display:inline-block;*/
	/*display: flex;
	float:left;*/
	width:35% ;
	/*background: #000*/
		}
.contenedorImagen embed{
	/*float:left;*/
   width: 100%;
	height: 6rem;
	border-radius: 50%;
	background: #4678ED;
	
	/*justify-content: center;
	align-items: center;
	text-align: center;*/
 
/*  padding:1px;
  margin-bottom:5px;*/
}
.MenuIzquierdo_Intro{
	margin:0;
	padding:0;
	margin-left:1px;
	width:62%;
	/*display:inline-block;*/

	}
.MenuIzquierdo_Intro p{
	text-align: center;
	
	flex-wrap: wrap;
	/*width:99%;
	display:inline-block;*/
 border-radius: 15px 15px 15px 15px;;
border: 1px solid #D3D3D3;
background-color:#DFE8F7;
/*margin-bottom:5px;
  	margin-top:0px;*/
font-size:0.8rem;
color:#0817C8;
}


.ulIncludeOfertaIZQ a {
	color:white;
}
.divTituloMenuIzquierdo {
	 background-color:#a70000 !important;
	width: 100%;
	border-bottom: 1px solid #919494;
	border-top: 1px solid #D7E0E1;
   text-align:center;
  line-height:25px;/*baja o sube los elementos del menu*/

 }
.divTituloMenuIzquierdo p{
color:#B5BDF7;
padding:5px;
margin-top:-5px;
margin-bottom:0;
  align-content:flex-start;
	
 }
 
 
 /*INICIO SCREEN ENTRE 800 Y 999 AZUL*/
@media screen and (min-width:801px) and (max-width: 999px)  {

.contenedorImagen {
/*width: 100%;
padding:0;
background:green;*/
}
.contenedorImagen embed{
  /* width: 2rem;*/
	height: 3.5rem;
}

.MenuIzquierdo_Intro {
/*padding:1px;
margin:0;
	width:55%;*/
}

.MenuIzquierdo_Intro p{
	font-size:0.5rem;
}
}

/*SCREEN ENTRE 601 Y 800 VERDE*/	
@media screen and (min-width:601px) and (max-width: 800px) {

.contenedorImagen embed{
 /* width: 100%;*/
	height: 2.5rem;
	
}

.MenuIzquierdo_Intro p{
	font-size:0.5rem;
	}
}

/*SCREEN MOVIL 300 a 600 AMARILLO*/
@media screen  and (min-width: 300px) and (max-width: 600px) {
/*.divMenuIzquierdo {
	margin:0 auto;
	display:inline-block;
}*/
.Contenedor_img_mas_Intro{
	padding:0;
	margin:0;
	flex-direction:column;/*muestra en columna las opciones*/

	
		}
.contenedorImagen embed{
  width: 3rem;/* */
	height: 3rem;
}
.MenuIzquierdo_Intro {
	 width:98%;
	
}
.MenuIzquierdo_Intro p{
	font-size:0.4rem;
	
}
.divTituloMenuIzquierdo p{
		font-size:0.3rem;
}

.ulMenuIzquierdo .titulo {
	font-size:0.4rem;
	}



}