@charset "utf-8";
/* CSS Document */
.contentCentro{
	margin:0;
	padding:0;
	}


.contenedorCatalogo{
margin-left:8px;
	padding:0;
		width:98%;
		background-color:#fff;
	}

.contenedorCatalogo a{
	text-decoration:none;
		
	}
.div_ulOpcion_Menu{
/*	background-color:#D3D3D3;*/
border-top: 3px solid #919494;
	width: 100%;
	float:left;
	padding-top: 0px;
	padding-right: 0;
	padding-left: 0;
/*	padding-bottom: 10px;
*/	
	background-color:#F7F7F7;
	}
.divTitulo_ulOpcion_Menu {
	margin:0;
	padding:0;
	 background-color:#a70000 !important;
	width: 100%;
	border-bottom: 1px solid #919494;
	border-top: 1px solid #D7E0E1;
   text-align:center;
  line-height:25px;/*baja o sube los elementos del menu*/

 }
.divTitulo_ulOpcion_Menu p{
color:#B5BDF7;
padding:5px;
margin-top:-5px;
margin-bottom:0;
  align-content:flex-start;
	
 }

.ulOpcion_Menu {
	font-size:0.8rem;
	width: 100%;
	/*height:100%;*/
	list-style: none;
	padding: 1px;
	margin: auto;
	
}
.divMenuIzquierdo{
/*	background-color:#D3D3D3;*/
border-top: 3px solid #919494;
	width: 100%;
	float:left;
	padding-top: 0px;
	padding-right: 0;
	padding-left: 0;
/*	padding-bottom: 10px;
*/	
	background-color:#F7F7F7;
	}
.ulOpcion_Menu {
	font-size:0.8rem;
	width: 100%;
	/*height:100%;*/
	list-style: none;
	padding: 1px;
	margin: auto;
	
}
.ulOpcion_Menu li {
	width:100%;
	flex-wrap: wrap;
	border-bottom: 1px solid #919494;
/*	border-top: 1px solid #D7E0E1;*/
	
	display:inline-block; /*y justify-content: center ayudan a centrar el menu*/
justify-content: center; 

}
.ulOpcion_Menu .titulo {
	display:inline-block;
	text-align:center;
	width:80%;
	color:#0817C8;
  	border-radius: 15px 15px 15px 15px;
  	border: 1px solid #D3D3D3;
  	background-color:#DFE8F7;
	margin-bottom:5px;
  	margin-top:5px;
	float:right;
	}
.ulOpcion_MenuImagen{
/**/	padding:1px;
top:0;
	width:40%;
		}
.ulOpcion_MenuImagen embed{
	float:left;
   width: 5rem;
	height: 5rem;
	border-radius: 50%;
	background: #4678ED;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
  margin:0px auto;
  padding:1.5%;
  margin-bottom:5px;
}
.ulOpcion_Menu .Intro{
	margin-left:5px;
	width:74%;
	float:left;
	vertical-align:central;
	
	}
.ulOpcion_Menu .Intro p{
	display:inline-block;
	flex-wrap: wrap;
	width:99%;
 border-radius: 15px 15px 15px 15px;;
border: 1px solid #D3D3D3;
background-color:#DFE8F7;
margin-bottom:5px;
  	margin-top:5px;
font-size:0.8rem;
color:#0817C8;
}


.ulIncludeOfertaIZQ a {
	color:white;
}





/*PAGINA CATALOGO*/
/*Estilos de la galeria*/
.ulCatalogo {
	width: 100%;
	margin: auto;
	list-style: none;
	padding: 5px;
	box-sizing: border-box;
	display: flex;/*ubica los objetos en forma horizontal y bajando en linea*/
	flex-wrap: wrap;
	justify-content: space-around;
}
.ulCatalogo li {
	width:30%;
	margin: 5px;/*separacion entre imagenes*/
	border: 1px solid #D3D3D3; /*LightGray */
padding:5px /*ayuda a separar los marcos*/
}
.ulCatalogo img {
	width: 90%;
	height: 150px;
	border: 1px solid #D3D3D3; /*LightGray */
padding:10px;/*Pone marco a la imagen*/
}
.ulCatalogo a {
	color:white;
}
.ulcatalogoimagenoVideo{
	width: 90%;
	height: 150px;
	border: 1px solid #D3D3D3; /*LightGray */
padding:10px;/*Pone marco a la imagen*/

	}
	
.ulCatalogo .titulo{
	padding:0;
	margin:0;
	margin-top:5px;
	text-align:center;/**/
	width:100%; 
	color:#393737;
	}
.ulCatalogo .Intro{
	padding-left: 10px;
	margin: 10px;
	width:97%;
	color:#393737;
		}	