/*nota el slide no foncunionaba porque habia un div qeue bajaba y ocupaba el espacio del slide*/
body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	/*margin: 0;*/
	padding: 0;
	width:100%;
/*	background-color: #C4D8E7;
*/}
header {
	/*width: 940px;
	
	margin: 0 auto;*/
	height: auto;
	background-color: #FBFBFB;
}
.containerCeficc {
	z-index:1;
	width: 100%;

	margin: 0 auto; /* the auto value on the sides, coupled with the width, centers the layout */
}
#contenedor{	
/*background-color: #C4D8E7;
		width: 100%;
	 display: table;*/
	 /*margin-top: 1px;*/
	 	 	
	}
#contenidos {
 display: -webkit-flex;
   display: flex;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
		
}
#contentIzquierda, #contentCentro, #contentDerecha {
   display: -webkit-flex;
   display: flex;
}
#contentIzquierda {
/*display:inline-block;
		float: left;*/
	width: 20%;
	background-color: #D5DEF7;
		top: 1px;
	/*
	padding-top: 0px;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 10px;
	margin-top: 1px;
	margin-left: 2px;
	background-color:yellow;*/
}
#contentCentro {
	width: 58%;
	/*float: left;
display:inline-block;*/
margin-rigth: 5px;
margin-left: 5px;
padding:5px;
/*	background-color: #D5DEF7;
*/}
#contentDerecha{
	width: 19%;
	

	/*float:left;
	display:inline-block;*/
	
		margin-left: 4px;
/*		background-color: #D5DEF7;
*/	
		}

/*MASTER UNA COLUMNA*/
.contentUnaColumna{
	background-color: #C4D8E7;
z-index:2;
	width:100%;
	/*justify-content: center; 
	display:flex; y justify-content: center ayudan a centrar el menu*/
}
.contenedorAntesMenu{
	width:100%;
/*	background-color: yellow;
	height:65px;*/
	height:auto;
	display:flex;
	justify-content:space-around; /*flex end o center para centrar el menu*/
}

/*INFORMACION PBX EMAIL*/
 .info{
	margin-top:1%;
	width:36%;/*con el valor que esta en las function de la pagina Site.Master controlar el ancho contenedor de la imagen*/
    height:100%;/*altura del contenedor de la imagen*/
/*	padding:1px;
   margin-left:4px;
   	 margin-top:1px;
	background-color:blue;*/
	
	padding-right:1px;
	margin-right:2px;
	display:inline-flex;
	z-index:2;

}
.InfoUL {
	margin:0;
	padding:0;
	list-style:none;
/*	background-color:yellow;*/
	width:100%;
	height:100%;
	font-size:0.7rem;
	color:#000;/*color de texto*/
    cursor:pointer;
	
	}

.InfoUL a{
	font-size:0.7rem;
	color:#000;/*color de texto*/
	}
.InfoUL span {
	display:flex;
	width:20%;
	}
.InfoUL a {
	width:80%;
	
	}
	
.info-Phone {
	float:left;
	/*background-color:green;*/
	display:inline-flex;
    width:49%;
   	height:100%;
	margin-top:0;
}
.info-Email {
	float:left;
	/*background-color:red;*/
	display:inline-flex;
    width:49%;
   	height:100%;
	margin-top:0;
}


/*LOGO*/
.menuLogo {
	margin:0;
	padding:0;
	left:0;
width:16em;/*con el valor que esta en las function de la pagina Site.Master controlar el ancho contenedor de la imagen*/
    height:3.8em;/*altura del contenedor de la imagen*/
/*	background-color:blue;*/
   margin-left:55px;
      background-repeat:no-repeat;
	 margin-top:0;
	/* vertical-align:middle;*/
background-color:#ffffff;
border-radius:25em;
	border: solid 1px;
	padding-right:5px;
	border-color:rgba(218,225,245,0.82);
	
}
.menuLogo img{
	width:100%;
	height:100%;
	
	}
.menuLogo-fixed {
position:fixed;
height:3em;
transition: 0.2s;
z-index:3;
	}
/*RESOLUCION SECRETARIA DE BOLIVAR*/
.resolucion_ {
		/*background-color:green;*/
	width:41%;/*con el valor que esta en las function de la pagina Site.Master controlar el ancho contenedor de la imagen*/
   top:1px;
 color: blue;  
  display:flex;/*display:flex y justify-content: center ayudan a centrar el menu*/
  justify-content: center;/*display:flex y justify-content: center ayudan a centrar el menu*/
  font-size:0.6rem;
  text-align:center;
  margin:5px;
  z-index:2;
}

/*PAGINA EDITAR NOTICIA*/	
.formimagen{
	width:100%;
	
	}
.DivContenedorNoticia {
width:99%;
right:0;
left:0;
height:auto;
background-color:red;
}
#divIzqEditorNoticia {
background-color:#b5abab;
width:50%;
min-height:600px;
float:left;
/*overflow:scroll;*/  
font: 12px sans-serif;
border: solid 1px;

}
 #divDerEditorNoticia {
background-color:red;
/*background-color:#ffffff;*/
width:49%;
height:570px;
float:right;
border: solid 1px;
overflow:scroll;
/*display:none;*/
}
#img3{
	width:100px;
	height:70px;}
#divImagenPrevia {
  width: 200px;
  height: 150px;
  box-shadow: 0px 0px 10px #000 inset;
  border-radius: 10px 10px 10px 10px;
  border: solid 1px;
  background-color:burlywood;
  vertical-align:central;
  padding:10px;
}
#crs_imgPrevia{
	width:100%;
	height:100%
	}
.textEditorTitulo {
    width:97%;
   min-height: 100px;
}
.textEditorIntroduccion {
    width:98%;
}
.TablaCitaInputUp {
   /*background-color:#C0B9B9;*/
   width:100%;
}
.TablaCitaInputUp td:first-child {
    width:20%;
     /*background-color:blueviolet;*/
}
.TablaCitaInputUp td:nth-child(2) {
    width:80%;
   /*background-color:aquamarine;*/
}
/*.TablaCitaInputUp td:nth-child(3) {
    width:30%;
  
}
.TablaCitaInputUp td:nth-child(4) {
    width:20%;
  
}*/
.anchoControl {

width:100%;
}
.DropDownListNoticias{
	width:200px;

	}
.divBotones{
	margin:0 auto;
	background-color:aquamarine;
		 display:flex;/*display:flex y justify-content: center ayudan a centrar el menu*/
  justify-content: center;/*display:flex y justify-content: center ayudan a centrar el menu*/
  transition: all 0.2s;
	box-sizing: border-box;
	border-radius:1em;
	border: solid 1px;
	}
.btn{
	width:auto;
	/*height:23px;*/
	margin:0.3em 0.3em 0.3em 0;/*quita espacio de botoners bootrasp*/
	text-align:center;
	display: inline-block;
	padding:0.35em 1.2em;
	font-weight:100;
	transition: all 0.2s;
	box-sizing: border-box;
	border-radius:0.12em;
	}
/*INICIO SCREEN ENTRE 800 Y 999 AZUL*/
@media screen and (min-width:801px) and (max-width: 999px)  {
 
.contenedorHeader {
	border-top: 1px solid blue;
	}
.resolucion_ {
  font-size:0.5rem;
}

.info-fixed {
font-size:0.5rem;
position: fixed;
top: 10px;
right:10px;
z-index: 3;
color:#fff;
	}

.info-fixed .InfoUL a{
font-size:0.6rem;
color:#000;	}	
.InfoUL{
font-size:0.5rem;
	}
	
	}
.menuLogo-fixeds {
	 position:fixed;
	
  /*  top: 0; */
     z-index:3;
	}	
	/*SCREEN ENTRE 601 Y 800 VERDE*/	
@media screen and (min-width:601px) and (max-width: 800px) {
.contenedorHeader {
	border-top: 1px solid green;
	}	
	.resolucion_ {
	  display:none;
 }

 .info{
	 padding-left:10px;
 width:69%;
 }


	
	}
/*SCREEN MOVIL 300 a 600 AMARILLO*/
@media screen  and (min-width: 300px) and (max-width: 600px) {
.contenedorHeader {
border-top: 1px solid yellow;
	}
	
		.resolucion_ {
	  display:none;
	  
 }
 

	 

 .info{
	display:none;
 }
}