 /*COLUMNA NOVEDADES*/
.divColumnaDerecha{
	border-top: 3px solid #919494;
	width: 100%;
	float:right;
 	padding-top: 0px;
	padding-right: 0;
	padding-left: 0;
	background-color:#F7F7F7;
/*	background-color:red;*/
	
}
 .ulColumnaDerecha {
	width: 100%;
	list-style: none;
	margin: auto;
	padding:0;
	

}	
.ulColumnaDerecha li { 
width:auto;
float:left;
border-bottom: 1px solid #919494;
	justify-content: center; 

	flex-wrap: wrap;
	display:inline-block; /*y justify-content: center ayudan a centrar el menu*/

	
}
.ulColumnaDerecha embed {
	width: 100%;
}

.ColumnaDerecha_titulo{
	display:inline-block;
	text-align:center;
	width:98%;
	color:#777374;
/*  	border-radius: 15px 15px 15px 15px;
*/  	border: 1px solid #D3D3D3;
  	background-color:#DFE8F7;
	margin-bottom:5px;
  	margin-top:5px;
	}
.ColumnaDerecha_Imagen{}
.ColumnaDerecha_Intro{
	width:auto;
	float:left;
	vertical-align:central;
	}
 
.divTituloColumnaDerecha {
  background-color:#a70000 !important;
  width: 100%;
	border-bottom: 1px solid #919494;
	border-top: 1px solid #D7E0E1;
   text-align:center;
  line-height:25px;/*baja o sube los elementos del menu*/
  
  
 }
 .divTituloColumnaDerecha p{
color:#B5BDF7;
/*text-align:left;*/
padding:5px;
margin-top:-5px;
margin-bottom:0;
  align-content:flex-start;
 }