	/*Estilos Oferta Academica*/
.contenedorOferta{
	padding-top:10px;
	width:100%;
	background-color:#353131;
		}
		
.TituloOferta {
   background-color:#FEFDFD;
    text-align:center;
 }
.TituloOferta p{
color:#FFFFFF;
color:green;
 }
 .ulOferta {
	width: 100%;
	margin: auto;
	list-style: none;
	padding: 5px;
	box-sizing: border-box;
	display: flex;/*ubica los objetos en forma horizontal y bajando en linea*/
	flex-wrap: wrap;
	justify-content: space-around;
}
.ulOferta li {
	width:30%;
	margin: 5px;/*separacion entre imagenes*/
	border: 1px solid #D3D3D3; /*LightGray */
padding:5px /*ayuda a separar los marcos*/
}
.ulOferta img {
	width: 90%;
	height: 150px;
	padding:10px;
	border: 1px solid #D3D3D3;  
}
.ulOferta a {

	color:white;
}
.ofertaimagenoVideo{
	width: 98%;
	height: 150px;
	border: 1px solid #D3D3D3; /*LightGray */
padding:10px;/*Pone marco a la imagen*/
}

/*Estilos IncludeOferta Academica*/
.contenedorCatalogo{
	padding-top:10px;
	width:100%;
/*	background-color:#353131;*/
		
	}
	.divMenuIzquierdo{
padding-top:10px;
	width:100%;
background-color:#353131;
 background-color:#a70000 !important;
	}
.ulIncludeOferta {
	width: 100%;
	margin: auto;
	list-style: none;
	padding: 5px;
	box-sizing: border-box;
	/*display: flex;ubica los objetos en forma horizontal y bajando en linea*/
	flex-wrap: wrap;
	justify-content: space-around;
}
.ulIncludeOferta li {
	width:92%;
	margin: 5px;/*separacion entre imagenes*/
	border: 1px solid #D3D3D3; /*LightGray */
padding:5px /*ayuda a separar los marcos*/
}
.ulIncludeOferta embed {
	width: 90%;
	height: 150px;
	border: 1px solid #D3D3D3; /*LightGray */
padding:10px;/*Pone marco a la imagen*/
}

.includeOfertaimagenoVideo {
	width: 90%;
	height: 150px;
	border: 1px solid #D3D3D3; /*LightGray */
padding:10px;/*Pone marco a la imagen*/
}
.ulIncludeOferta a {
	color:white;
}

	
	}